*{
    font-family: Poppins;
}
.header{
    height:60px;
    background-color: #000;
    color:white;
}
ion-slides{
    padding:0px 30px;
}
ion-slide{
    padding:10px;
}
.button1{
    position:absolute;
    width:80%;
    height:40px;
    background-color: #dd3333;
    color:white;
    border-radius:5px;
    font-size: 16px;
    margin-top:32%;
}
