<ion-header class="header">
  <div style="margin-top:2%;">
    <ion-row>
        <button style="outline:0;background-color:transparent;color:white;font-size: 18px;font-weight: 400"><ion-icon name="md-arrow-back" (click)="back()"></ion-icon></button>
    <ion-title>About</ion-title>
  </ion-row>
</div>
</ion-header>
<ion-content  >
 
  <iframe src="https://www.marveltreks.com/about/" scrolling="no" id="scroller"  style="height:1500px;width:103%;margin-top:-15rem;overflow-y: scroll;" frameBorder="0">
</iframe>

</ion-content>