@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/KaushanScript-Regular.ttf');
    font-weight: 200;
    font-style:normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: 200;
    font-style: normal;
  }
