*{
    font-family: poppins
}
.button1{
    background-color: transparent;
    margin-top:-30px;
}
.button2{
    background-color: transparent;
    margin-top:10px;
    margin-left:150px;
}
.button3{
    background-color: transparent;
    margin-left:195px;
    margin-top:28px;
}
.button4{
    background-color: transparent;
    margin-top:120px;
}
.button5{
    background-color: transparent;
    margin-left:180px;
    margin-top:20px;
}
.button6{
    background-color: transparent;
    margin-top:60px;
    margin-left:60px;
}
.progress-outer {
    width: 96%;
    margin: 10px 2%;
    padding: 3px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 20px;
}

.progress-inner {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 20px;
    background-color: #16A1A4;
}