<ion-app>
    <ion-menu contentId="content" side="start">
      <ion-header class="header" >
        <div >
          <img src="../assets/homeimage/cropped-filming-himalaya-logo.png" class="image">
        </div>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
        <ion-fab-button color="danger" size="small">
             <ion-icon name="arrow-dropright"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
            <ion-fab-button color="medium" (click)="home()">
                <ion-icon name="home"></ion-icon>
              </ion-fab-button>
          <ion-fab-button color="warning">
            <ion-icon name="alert"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="tertiary" (click)="maplink()">
              <ion-icon name="download"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
        
       
      </ion-fab>
    <ion-router-outlet id="content" main></ion-router-outlet>
  </ion-app>