*{
    font-family: Poppins;
}
.header{
    color:white;
}
.button1{
    position:absolute;
    width:100%;
    height:30px;
    background-color: #000;
    color:white;
   
    border-radius:5px;
    margin-top:26%;
  }
  .button2{
  
  width: 100%;
  height:90%;
    background-color: #dd3333;
    color:white;
    border-radius:5px;
    font-size:20px;
   
    
  }
  
 