*{
  font-family: poppins;
}
ion-tab-bar.my-custom-tab-bar {
    position: absolute;
    bottom: 0;
    font-size: 18;
    width: 100%;
   --background: rgba(0, 0, 0, 0.8);
  // --background:transparent
    ion-tab-button {
      --background: transparent;
      color:#ffffff;
    }
  }
  ion-slides{
    padding:0px 30px;
}
ion-slide{
    padding:5px;
}
.slide1{
  margin-left:0%;
}
.navbar{
  
    width:100%;
    height:200px;
    //background: rgb(241,241,241);
    //background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(44,111,201,1) 58%, rgba(32,40,51,1) 100%);
    background-color: black;
}
.logo{
    display:block;
  margin: auto;
  padding-top:10%;
}
.navdis{
    color:white;
    font-family:'Kaushan Script';
    font-weight: 200;
    font-size:24px;
    text-align:center;
   
}
.main{
    
}

 .image{
     width:40%;
 }
 .menubutton{
  z-index: 4;
  position:fixed;
  color:white;
}
.treker{
  position: relative;
  margin-top:50px;
  margin-left:5%;
  width:30%;
  padding: 4px;
  //height:5%;
  border-radius:10px;
  border:2px solid white;
}
.trekers{
  margin-top:30px;
  width:150px;
  height:150px;
  border-radius:50px;
  border:1px solid black;

}
.slide1{

}
.button1{
  position:absolute;
  width:80%;
  height:40px;
  background-color: #dd3333;
  color:white;
  border-radius:5px;
  font-size: 16px;
  margin-top:32%;
}
